<%= render 'application/page_header', model: FamilyMember %>
<div class="card">
  <div class="card-status bg-transparent"></div>
  <div class="card-header p-4">
    <div class="col-sm-12 col-lg-12">
      <div class="form-row">
        <div class="col-sm-12 col-lg-6 p-0">
          <%= render 'application/pagy_count', list: @pagy, model: FamilyMember, url: new_family_member_path %>
        </div>
        <div class="col-sm-12 col-lg-6 p-0">
          <%= search_form_for @query do |f| %>
            <%= f.search_field :search_cont, class: 'form-control', placeholder: t('helpers.search') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-0 m-0">
    <table class="table card-table table-vcenter text-nowrap table-hover">
      <thead>
      <tr>
        <th><%= FamilyMember.human_attribute_name :cns_number %></th>
        <th><%= FamilyMember.human_attribute_name :name %></th>
        <th><%= FamilyMember.human_attribute_name :social_name %></th>
        <th><%= FamilyMember.human_attribute_name :birth_date %></th>
        <th><%= FamilyMember.human_attribute_name :phone %></th>
        <th><%= FamilyMember.human_attribute_name :city %></th>
        <th><%= FamilyMember.human_attribute_name :race %></th>
        <th><%= FamilyMember.human_attribute_name :gender %></th>
        <th><%= t('helpers.actions.action') %></th>
      </tr>
      </thead>
      <tbody>
      <% @family_members.each do |family_member| %>
        <tr>
          <td class="text-muted"><%= family_member.cns_number %></td>
          <td><%= family_member.name %></td>
          <td><%= family_member.social_name %></td>
          <td><%= family_member.birth_date.strftime('%d/%m/%Y') %></td>
          <td><%= family_member.phone %></td>
          <td><%= "#{family_member&.city&.name} - #{family_member&.city&.state.abbreviation}" %></td>
          <td><%= family_member&.race&.name %></td>
          <td><%= family_member&.gender&.name %></td>
          <td class="text-center">
            <%= render 'application/table_links', f: family_member %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= render 'application/footer_links', url: new_family_member_path, model: FamilyMember %>
  </div>
</div>
