<%= simple_form_for @home_visit_registration do |f| %>
  <% content_for :body do %>
    <%= f.input :uuid, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :tp_cds_origin, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-user mr-2"></i><%= FamilyMember.model_name.human(count: 1) %>
          </h3>
        </div>
        <div class="card-body">
          <%= f.simple_fields_for :family_member do |family_member| %>
            <%= render 'application/family_member_fields', f: family_member %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= render template: 'application/form', locals: {form: @home_visit_registration} %>
<% end %>
