<%= render 'application/page_header', model: HomeVisitRegistration %>
<div class="card">
  <div class="card-status bg-transparent"></div>
  <div class="card-header p-4">
    <div class="col-sm-12 col-lg-12">
      <div class="form-row">
        <div class="col-sm-12 col-lg-6 p-0">
          <%= render 'application/pagy_count', list: @pagy %>
        </div>
        <div class="col-sm-12 col-lg-6 p-0">
          <%= search_form_for @query do |f| %>
          <%= f.search_field :search_cont, class: 'form-control', placeholder: t('helpers.search') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-0 m-0">
    <table class="table card-table table-vcenter text-nowrap table-hover">
      <thead>
      <tr>
                  <th><%= HomeVisitRegistration.human_attribute_name :family_member %></th>
                  <th><%= HomeVisitRegistration.human_attribute_name :uuid %></th>
                  <th><%= HomeVisitRegistration.human_attribute_name :tp_cds_origin %></th>
                  <th><%= HomeVisitRegistration.human_attribute_name :company %></th>
                  <th><%= HomeVisitRegistration.human_attribute_name :slug %></th>
                <th><%= t('helpers.labels.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @home_visit_registrations.each do |home_visit_registration| %>
        <tr>
                      <td><%= home_visit_registration.family_member_id %></td>
                      <td><%= home_visit_registration.uuid %></td>
                      <td><%= home_visit_registration.tp_cds_origin %></td>
                      <td><%= home_visit_registration.company_id %></td>
                      <td><%= home_visit_registration.slug %></td>
                    <td class="text-center">
            <%= render 'application/table_links', f: home_visit_registration %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= render 'application/footer_links', url: new_home_visit_registration_path, model: HomeVisitRegistration %>
  </div>
</div>
