<%= simple_form_for(@appointment_booking) do |f| %>
  <% content_for :body do %>
    <%= f.association :health_professional, collection: HealthProfessional.only_doctors, label_method: :name_formatted,
                      wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
    <%= f.association :family_member,
                      collection: @family_member_selected ? [@family_member_selected] : [],
                      selected: @family_member_selected,
                      label_method: :name_formatted,
                      wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'family-members', disabled: show?(f.object.persisted?)} %>
    <%= f.input :appointment_date, html5: true, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :start_hour, html5: true, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :end_hour, html5: true, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :status, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :priority, as: :select, collection: [[t('simple_form.yes'), 1], [t('simple_form.no'), 0]], wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
    <%= f.input :phone, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.association :medical_procedure, collection: GenericModel.medical_procedures,
                      wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
    <div class="col-lg-12">
      <% if show?(f.object.persisted?) %>
        <%= f.label :observation, class: 'form-label' %>
        <div class="form-control">
          <%= @appointment_booking.observation.to_plain_text %>
        </div>
      <% else %>
        <%= f.rich_text_area :observation, disabled: show?(f.object.persisted?) %>
      <% end %>
    </div>
  <% end %>
  <%= render template: 'application/form', locals: {form: @appointment_booking, other_url: dashboard_path} %>
<% end %>
