<%= simple_form_for(@appointment_booking) do |f| %>
  <% content_for :body do %>
    <%= f.association :health_professional, collection: HealthProfessional.only_doctors, label_method: :name_formatted,
                      wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
    <%= f.association :family_member, collection: FamilyMember.all, wrapper_html: {class: 'col-lg-6 col-sm-12'},
                      input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
    <%= f.input :appointment_date, html5: true, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :start_hour, html5: true, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :end_hour, html5: true, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :phone, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.association :medical_procedure, collection: GenericModel.medical_procedures,
                      wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
    <div class="col-lg-12">
      <%= f.rich_text_area :observation, disabled: show?(f.object.persisted?) %>
    </div>
  <% end %>
  <%= render template: 'application/form', locals: {form: @appointment_booking} %>
<% end %>
