<%= form_with(model: @health_professional, id: :health_professional) do |f| %>
  <% content_for :body do %>
      <div class="form-group col-md-4">
        <%= f.label :cns_code, {class: 'form-label'} %>
        
          <%= f.text_field :cns_code, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :cbo_code, {class: 'form-label'} %>
        
          <%= f.text_field :cbo_code, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :registry_id, {class: 'form-label'} %>
        
          <%= f.select :registry_id, options_from_collection_for_select([], :name, :id), {include_blank: 'Selecione'}, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :health_establishment_id, {class: 'form-label'} %>
        
          <%= f.select :health_establishment_id, options_from_collection_for_select([], :name, :id), {include_blank: 'Selecione'}, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :professional_team_id, {class: 'form-label'} %>
        
          <%= f.select :professional_team_id, options_from_collection_for_select([], :name, :id), {include_blank: 'Selecione'}, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :company_id, {class: 'form-label'} %>
        
          <%= f.select :company_id, options_from_collection_for_select([], :name, :id), {include_blank: 'Selecione'}, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :slug, {class: 'form-label'} %>
        
          <%= f.text_field :slug, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
  <% end %>
  <%= render template: 'application/form', locals: {form: @health_professional} %>
<% end %>
