<%= render 'application/page_header', model: HealthProfessional %>
<div class="card">
  <div class="card-status bg-transparent"></div>
  <div class="card-header p-4">
    <div class="col-sm-12 col-lg-12">
      <div class="form-row">
        <div class="col-sm-12 col-lg-6 p-0">
          <%= render 'application/pagy_count', list: @pagy, model: HealthProfessional, url: new_health_professional_path %>
        </div>
        <div class="col-sm-12 col-lg-6 p-0">
          <%= search_form_for @query do |f| %>
            <%= f.search_field :search_cont, class: 'form-control', placeholder: t('helpers.search') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-0 m-0">
    <table class="table card-table table-vcenter text-nowrap table-hover">
      <thead>
      <tr>
        <th><%= HealthProfessional.human_attribute_name :id %></th>
        <th><%= HealthProfessional.human_attribute_name :cns_code %></th>
        <th><%= HealthProfessional.human_attribute_name :cbo_code %></th>
        <th><%= HealthProfessional.human_attribute_name :full_name %></th>
        <th><%= HealthProfessional.human_attribute_name :federal_registry %></th>
        <th><%= HealthProfessional.human_attribute_name :state_registry %></th>
        <th><%= HealthProfessional.human_attribute_name :professional_team %></th>
        <th><%= t('helpers.labels.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @health_professionals.each do |health_professional| %>
        <tr>
          <td class="text-muted"><%= health_professional.id %></td>
          <td><%= health_professional.cns_code %></td>
          <td><%= health_professional&.cbo_code&.reference %></td>
          <td><%= health_professional.full_name %></td>
          <td><%= health_professional.federal_registry %></td>
          <td><%= health_professional.state_registry %></td>
          <td><%= health_professional&.professional_team&.name %></td>
          <td class="text-center">
            <%= render 'application/table_links', f: health_professional %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= render 'application/footer_links', url: new_health_professional_path, model: HealthProfessional %>
  </div>
</div>
