<%= simple_form_for @individual_registration do |f| %>
  <% content_for :body do %>
    <%= f.input :uuid, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :uuid_form_origin, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :uuid_citizen, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :tp_cds_origin, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :refuse_registration, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :form_updated, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <div class="col-12">
      <div class="card<%= ' card-collapsed' unless @individual_registration.family_member.errors.any? %> mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-user mr-2"></i><%= FamilyMember.model_name.human(count: 1) %>
          </h3>
          <div class="card-options">
            <a href="#" class="card-options-collapse badge bg-blue-deep text-white font-weight-bold px-2" data-toggle="card-collapse">
              <i class="fe fe-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="card-body pb-2">
          <%= f.simple_fields_for :family_member do |family_member| %>
            <%= render 'application/family_member_fields', f: family_member %>
          <% end %>
        </div>
      </div>
      <div class="card<%= ' card-collapsed' unless @individual_registration.health_condition.errors.any? %> mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-heartbeat mr-2"></i><%= HealthCondition.model_name.human(count: 1) %>
          </h3>
          <div class="card-options">
            <a href="#" class="card-options-collapse badge bg-blue-deep text-white font-weight-bold px-2" data-toggle="card-collapse">
              <i class="fe fe-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="card-body pb-2">
          <%= f.simple_fields_for :health_condition do |health_condition| %>
            <%= render 'application/health_condition_fields', f: health_condition %>
          <% end %>
        </div>
      </div>
      <div class="card<%= ' card-collapsed' unless @individual_registration.in_street_situation.errors.any? %> mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="far fa-sad-tear mr-2"></i><%= InStreetSituation.model_name.human(count: 1) %>
          </h3>
          <div class="card-options">
            <a href="#" class="card-options-collapse badge bg-blue-deep text-white font-weight-bold px-2" data-toggle="card-collapse">
              <i class="fe fe-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="card-body pb-2">
          <%= f.simple_fields_for :in_street_situation do |in_street_situation| %>
            <%= render 'application/in_street_situation_fields', f: in_street_situation %>
          <% end %>
        </div>
      </div>
      <div class="card<%= ' card-collapsed' unless @individual_registration.sociodemographic_info.errors.any? %> mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-id-card mr-2"></i><%= SociodemographicInfo.model_name.human(count: 1) %>
          </h3>
          <div class="card-options">
            <a href="#" class="card-options-collapse badge bg-blue-deep text-white font-weight-bold px-2" data-toggle="card-collapse">
              <i class="fe fe-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="card-body pb-2">
          <%= f.simple_fields_for :sociodemographic_info do |sociodemographic_info| %>
            <%= render 'application/sociodemographic_info_fields', f: sociodemographic_info %>
          <% end %>
        </div>
      </div>
      <div class="card<%= ' card-collapsed' unless @individual_registration.cancel_registration.errors.any? %> mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-user-times mr-2"></i><%= CancelRegistration.model_name.human(count: 1) %>
          </h3>
          <div class="card-options">
            <a href="#" class="card-options-collapse badge bg-blue-deep text-white font-weight-bold px-2" data-toggle="card-collapse">
              <i class="fe fe-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="card-body pb-2">
          <%= f.simple_fields_for :cancel_registration do |cancel_registration| %>
            <%= render 'application/cancel_registration_fields', f: cancel_registration %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= render template: 'application/form', locals: {form: @individual_registration} %>
<% end %>
