<%= render 'application/page_header', model: SmsMessage %>
<div class="card">
  <div class="card-status bg-transparent"></div>
  <div class="card-header p-4">
    <div class="col-sm-12 col-lg-12">
      <div class="form-row">
        <div class="col-sm-12 col-lg-6 p-0">
          <%= render 'application/pagy_count', list: @pagy, model: SmsMessage, url: new_sms_message_path %>
        </div>
        <div class="col-sm-12 col-lg-6 p-0">
          <%= search_form_for @query do |f| %>
            <%= f.search_field :search_cont, class: 'form-control', placeholder: t('helpers.search') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-0 m-0">
    <table class="table card-table table-vcenter text-nowrap table-hover">
      <thead>
      <tr>
        <th><%= SmsMessage.human_attribute_name :date_sent %></th>
        <th><%= SmsMessage.human_attribute_name :number %></th>
        <th><%= SmsMessage.human_attribute_name :status %></th>
        <th><%= SmsMessage.human_attribute_name :sms_schedule %></th>
        <th><%= t('helpers.labels.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @sms_messages.each do |sms_message| %>
        <tr>
          <td><%= sms_message.date_sent %></td>
          <td><%= sms_message.number %></td>
          <td><%= sms_message.status %></td>
          <td><%= sms_message.sms_schedule_id %></td>
          <td class="text-center">
            <%= render 'application/table_links', f: sms_message %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= render 'application/footer_links', url: new_sms_message_path, model: SmsMessage %>
  </div>
</div>
