<%= simple_form_for @user do |f| %>
  <% content_for :body do %>
    <%= f.input :email, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :password, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :password_confirmation, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <div class="col-12">
      <div class="card<%= ' card-collapsed' unless @user&.health_professional&.errors&.any? %> mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-user mr-2"></i><%= HealthProfessional.model_name.human(count: 1) %>
          </h3>
          <div class="card-options">
            <a href="#" class="card-options-collapse badge bg-blue-deep text-white font-weight-bold px-2" data-toggle="card-collapse">
              <i class="fe fe-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="card-body pb-2">
          <%= f.simple_fields_for :health_professional do |health_professional| %>
            <%= render 'application/health_professional_fields', f: health_professional %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= render template: 'application/form', locals: {form: @user} %>
<% end %>
