<%= render 'application/page_header', model: GenericModel %>
<div class="card">
  <div class="card-status bg-blue"></div>
  <div class="card-header p-4">
    <div class="col-sm-12 col-lg-12">
      <div class="form-row">
        <div class="col-sm-12 col-lg-6 p-0">
          <%= render 'application/pagy_count', list: @pagy %>
        </div>
        <div class="col-sm-12 col-lg-6 p-0">
          <%= search_form_for @query do |f| %>
            <%= f.search_field :search_cont, class: 'form-control', placeholder: t('helpers.search') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-0 m-0">
    <table class="table card-table table-vcenter text-nowrap table-hover">
      <thead>
      <tr>
        <th><%= GenericModel.human_attribute_name :name %></th>
        <th><%= GenericModel.human_attribute_name :description %></th>
        <th><%= GenericModel.human_attribute_name :reference %></th>
        <th><%= GenericModel.human_attribute_name :generic_field %></th>
        <th><%= GenericModel.human_attribute_name :generic_class %></th>
        <th><%= GenericModel.human_attribute_name :generic_model %></th>
        <th><%= GenericModel.human_attribute_name :slug %></th>
        <% if can? :manage, GenericModel %>
          <th><%= t('helpers.labels.actions') %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @generic_models.each do |generic_model| %>
        <tr>
          <td><%= generic_model.name %></td>
          <td><%= generic_model.description %></td>
          <td><%= generic_model.reference %></td>
          <td><%= generic_model.generic_field %></td>
          <td><%= generic_model.generic_class %></td>
          <td><%= generic_model.generic_model_id %></td>
          <td><%= generic_model.slug %></td>
          <% if can? :manage, GenericModel %>
            <td>
              <%= render 'application/table_links', f: generic_model %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="col-12">
      <div class="row">
        <div class="col-sm-12 col-lg-6 p-0">
          <%= link_to new_generic_model_path, class: 'btn btn-primary align-middle mb-md-0 mb-sm-3' do %>
            <i class="fas fa-plus mr-2"></i>Novo
          <% end %>
        </div>
        <div class="col-sm-12 col-lg-6 p-0">
          <div class="float-right">
            <%= pagy_bootstrap_nav(@pagy).html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
