<div class="col-lg-12">
  <div class="card mb-2">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-stethoscope mr-2"></i>Escuta Inicial
      </h3>
      <div class="card-options">
        <a href="#" class="card-options-collapse badge bg-blue-deep text-white p-1" data-toggle="card-collapse">
          <i class="fe fe-chevron-up"></i>
        </a>
      </div>
    </div>
    <div class="card-body pb-2">
      <div class="row">
        <%= f.association :appointment_reason, collection: [], wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
        <%= f.input :appointment_brief, wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    Antropometria
                  </h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <%= f.input :cephalic_perimeter, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
                    <%= f.input :weight, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
                    <%= f.input :height, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
                    <%= f.input :imc, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
                    <%= f.input :calf_perimeter, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    Sinais Vitais
                  </h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <%= f.input :blood_pressure, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
                    <%= f.input :blood_pressure_to, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
                    <%= f.input :respiratory_rate, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
                    <%= f.input :heart_rate, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
                    <%= f.input :temperature, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
                    <%= f.input :saturation, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    Glicemia
                  </h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <%= f.input :capillary_blood, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
                    <%= f.association :collected_time, collection: [], wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    Classificação de Risco/Vulnerabilidade
                  </h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <%= f.input :risk_vulnerability, wrapper_html: {class: 'col-lg-12 col-sm-12'}, html5: true, input_html: {disabled: show?(f.object.persisted?)} %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    Desfecho da escuta inicial
                  </h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <%= f.input :release_citizen, wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render 'patient_medical_procedures', f: f %>
        <%= render 'patient_contacts', f: f %>
        <%= render 'patient_conditions', f: f %>
        <%= render 'patient_reactions', f: f %>
        <%= render 'patient_vaccines', f: f %>
        <%= render 'patient_medicines', f: f %>
        <%= render 'patient_notes', f: f %>
      </div>
    </div>
  </div>

</div>
