<div class="col-lg-12">
  <div class="card<%= ' card-collapsed' unless f.object.patient_record_procedures&.map(&:errors)&.any? %> mb-3">
    <div class="card-header">
      <h3 class="card-title">
        <i class="<%= t('activerecord.models.patient_record_procedure.icon') %> mr-2"></i><%= PatientRecordProcedure.model_name.human(count: 2) %>
      </h3>
      <div class="card-options">
        <a href="#" class="card-options-collapse badge bg-blue-deep text-white p-1" data-toggle="card-collapse">
          <i class="fe fe-chevron-up"></i>
        </a>
      </div>
    </div>
    <% unless show?(f.object.persisted?) %>
      <div class="card-body py-2">
        <%= link_to_add_association f, :patient_record_procedures,
                                    class: 'btn btn-sm btn-primary', role: 'button',
                                    data: {
                                      'association-insertion-node': '#patient-record-procedures',
                                      'association-insertion-method': 'append'
                                    } do %>
          <i class="fas fa-plus mr-2" aria-hidden="true"></i>Novo
        <% end %>
      </div>
    <% end %>
    <div id="patient-record-procedures" class="card-body pb-2">
      <%= f.simple_fields_for :patient_record_procedures do |patient_record_procedure| %>
        <%= render 'application/patient_record_procedure_fields', f: patient_record_procedure %>
      <% end %>
    </div>
  </div>
</div>
