<%= render 'application/page_header', model: SmsSchedule %>
<div class="card">
  <div class="card-status bg-transparent"></div>
  <div class="card-header p-4">
    <div class="col-sm-12 col-lg-12">
      <div class="form-row">
        <div class="col-sm-12 col-lg-6 p-0">
          <%= render 'application/pagy_count', list: @pagy, model: SmsSchedule, url: new_sms_schedule_path %>
        </div>
        <div class="col-sm-12 col-lg-6 p-0">
          <%= search_form_for @query do |f| %>
            <%= f.search_field :search_cont, class: 'form-control', placeholder: t('helpers.search') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-0 m-0">
    <table class="table card-table table-vcenter text-nowrap table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th><%= SmsSchedule.human_attribute_name :name %></th>
        <th><%= SmsSchedule.human_attribute_name :scheduled_date %></th>
        <th><%= SmsSchedule.human_attribute_name :role_groups %></th>
        <th><%= SmsSchedule.human_attribute_name :status %></th>
        <th><%= t('helpers.labels.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @sms_schedules.each do |sms_schedule| %>
        <tr>
          <td><%= sms_schedule.id %></td>
          <td><%= sms_schedule.name %></td>
          <td><%= sms_schedule.scheduled_date.strftime('%d/%m/%Y %H:%M') %></td>
          <td><%= sms_schedule.role_list.map {|r| Role.find(r.to_i).name}.join(', ') %></td>
          <td><%= t("activerecord.attributes.sms_schedule.statuses.#{sms_schedule.status}").upcase %></td>
          <td class="text-center">
            <%= render 'application/table_links', f: sms_schedule %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= render 'application/footer_links', url: new_sms_schedule_path, model: SmsSchedule %>
  </div>
</div>
