<%= simple_form_for(@vaccination_campaign) do |f| %>
  <% content_for :body do %>
    <%= f.input :title, wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :description, wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {rows: 2, disabled: show?(f.object.persisted?)} %>
    <%= f.input :period_start, html5: true, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :period_end, html5: true, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :age_initial, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :age_end, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <% if @vaccination_campaign.vaccinations.any? %>
      <div class="col-lg-12">
        <hr/>
      </div>
      <div class="card">
        <div class="card-header p-4">
          <h3 class="mb-0">
            <i class="fas fa-map mr-2"></i>Mapa de Localização
          </h3>
          <div class="card-options">
            <div class="h5 text-blue-deep pr-3 mb-0">
              <i class="fas fa-circle text-success mr-2"></i>Vacinados
            </div>
            <div class="h5 text-blue-deep pr-3 mb-0">
              <i class="fas fa-circle text-danger mr-2"></i>Não vacinados
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-sm-12">
              <div class="form-group mb-0">
                <%= label_tag 'Filtrar por', nil, class: 'form-label' %>
                <%= select_tag 'filter_by', options_for_select(Vaccination.patient_types.collect { |v, k| [t("activerecord.attributes.vaccination.patient_types.#{v}"), k] }),
                               include_blank: true, class: 'form-control select2' %>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <div class="form-group mb-0">
                <%= label_tag 'Idade de', nil, class: 'form-label' %>
                <%= number_field 'age_from', nil, class: 'form-control select2' %>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <div class="form-group mb-0">
                <%= label_tag 'Idade até', nil, class: 'form-label' %>
                <%= number_field 'age_to', nil, class: 'form-control select2' %>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <div class="form-group mb-0">
                <%= label_tag 'Status', nil, class: 'form-label' %>
                <%= select_tag 'vaccinated', options_for_select([true, false].collect {
                  |v, k| [v ? 'Vacinado' : 'Não vacinado', v] }), include_blank: true, class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>
        <div id="vaccination_campaign_map" class="card-body p-0">
          <div id="map" class="card-map rounded" style="min-height: 30rem;"></div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= render template: 'application/form', locals: {form: @vaccination_campaign} %>
  <script type="text/javascript">

  </script>
<% end %>
