<%= simple_form_for @home_registration do |f| %>
  <% content_for :body do %>
    <%= f.simple_fields_for :family do |family| %>
      <%= render 'application/family_fields', f: family %>
    <% end %>
    <%= f.association :health_professional, collection: HealthProfessional.all,
                      wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
    <%= f.association :home_type, collection: GenericModel.residence_types,
                      wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-map-marked-alt mr-2"></i><%= Address.model_name.human(count: 2) %>
          </h3>
        </div>
        <div class="card-body">
          <%= f.simple_fields_for :address do |address| %>
            <%= render 'application/address_fields', f: address %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-paw mr-2"></i><%= HomeRegistrationPet.model_name.human(count: 2) %>
          </h3>
          <div class="card-options">
            <%= link_to_add_association f, :home_registration_pets,
                                        class: 'btn btn-sm btn-primary', role: 'button',
                                        data: {
                                          'association-insertion-node': '#pets',
                                          'association-insertion-method': 'append'
                                        } do %>
              <i class="fas fa-plus mr-2" aria-hidden="true"></i>Novo
            <% end %>
          </div>
        </div>
        <div id="pets" class="card-body">
          <%= f.simple_fields_for :home_registration_pets do |home_registration_pet| %>
            <%= render 'application/home_registration_pet_fields', f: home_registration_pet %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-hand-holding mr-2"></i><%= LivingCondition.model_name.human(count: 2) %>
          </h3>
        </div>
        <div class="card-body">
          <%= f.simple_fields_for :living_condition do |living_condition| %>
            <%= render 'application/living_condition_fields', f: living_condition %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-life-ring mr-2"></i><%= PermanenceInstitution.model_name.human(count: 2) %>
          </h3>
        </div>
        <div class="card-body">
          <%= f.simple_fields_for :permanence_institution do |permanence_institution| %>
            <%= render 'application/permanence_institution_fields', f: permanence_institution %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= render template: 'application/form', locals: {form: @home_registration} %>
<% end %>
