<%= form_with(model: @home_registration, id: :home_registration) do |f| %>
  <% content_for :body do %>
      <div class="form-group col-md-4">
        <%= f.label :health_professional_id, {class: 'form-label'} %>
        
          <%= f.select :health_professional_id, options_from_collection_for_select([], :name, :id), {include_blank: 'Selecione'}, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :living_condition_id, {class: 'form-label'} %>
        
          <%= f.select :living_condition_id, options_from_collection_for_select([], :name, :id), {include_blank: 'Selecione'}, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :address_id, {class: 'form-label'} %>
        
          <%= f.select :address_id, options_from_collection_for_select([], :name, :id), {include_blank: 'Selecione'}, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :form_updated, {class: 'form-label'} %>
        
          <%= f.check_box :form_updated, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :pet_quantity, {class: 'form-label'} %>
        
          <%= f.number_field :pet_quantity, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :refuse_registration, {class: 'form-label'} %>
        
          <%= f.check_box :refuse_registration, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :tp_cds_origin, {class: 'form-label'} %>
        
          <%= f.number_field :tp_cds_origin, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :uuid, {class: 'form-label'} %>
        
          <%= f.text_field :uuid, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :uuid_form_origin, {class: 'form-label'} %>
        
          <%= f.text_field :uuid_form_origin, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :home_type_id, {class: 'form-label'} %>
        
          <%= f.select :home_type_id, options_from_collection_for_select([], :name, :id), {include_blank: 'Selecione'}, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :permanence_institution_id, {class: 'form-label'} %>
        
          <%= f.select :permanence_institution_id, options_from_collection_for_select([], :name, :id), {include_blank: 'Selecione'}, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :finished, {class: 'form-label'} %>
        
          <%= f.check_box :finished, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :company_id, {class: 'form-label'} %>
        
          <%= f.select :company_id, options_from_collection_for_select([], :name, :id), {include_blank: 'Selecione'}, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
      <div class="form-group col-md-4">
        <%= f.label :slug, {class: 'form-label'} %>
        
          <%= f.text_field :slug, {class: 'form-control', disabled: show?(f.object.persisted?)} %>
        
      </div>
  <% end %>
  <%= render template: 'application/form', locals: {form: @home_registration} %>
<% end %>
