<%= simple_form_for @home_registration do |f| %>
  <% content_for :body do %>
    <%= f.association :health_professional, collection: HealthProfessional.all,
                      label_method: :name_formatted,
                      wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
    <%= f.association :home_type, collection: GenericModel.residence_types,
                      label_method: :name_formatted,
                      wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
    <%= f.input :pet_quantity, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :location_x, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :location_y, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :refuse_registration, wrapper_html: {class: 'pl-2 col-lg-2 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <%= f.input :finished, wrapper_html: {class: 'pl-2 col-lg-1 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    <div class="col-12">
      <div class="card<%= ' card-collapsed' unless @home_registration.families.map(&:errors).flatten.any? %> mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="<%= t("activerecord.models.#{Family.model_name.singular}.icon") %> mr-2"></i><%= Family.model_name.human(count: 2) %>
          </h3>
          <div class="card-options">
            <a href="#" class="card-options-collapse badge bg-blue-deep text-white p-1" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
          </div>
        </div>
        <div class="card-body">
          <% if f.object.families.includes(:family_members).any? %>
            <div class="row">
              <div class="col-12">
                <%= f.simple_fields_for :families do |family| %>
                  <%= render 'application/family_fields', f: family %>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="alert alert-warning alert-dismissible p-4 text-center" role="alert">
              <div class="row">
                <div class="col py-auto text-center font-weight-bold">
                  <i class="fas fa-exclamation-triangle mr-2"></i>Nenhuma Família registrada.
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card<%= ' card-collapsed' unless @home_registration.home_registration_pets.map(&:errors).flatten.any? %> mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-paw mr-2"></i><%= HomeRegistrationPet.model_name.human(count: 2) %>
          </h3>
          <div class="card-options">
            <a href="#" class="card-options-collapse badge bg-blue-deep text-white p-1" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
          </div>
        </div>
        <% if @home_registration.home_registration_pets.any? %>
          <div class="table-responsive">
            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
              <thead>
              <tr>
                <th>#</th>
                <th><%= HomeRegistrationPet.human_attribute_name :pet_type %></th>
                <th>Data</th>
              </tr>
              </thead>
              <tbody>
              <% @home_registration.home_registration_pets.each_with_index do |home_registration_pet, index| %>
                <tr>
                  <td><%= index = index + 1 %></td>
                  <td><%= home_registration_pet.pet_type.name_formatted %></td>
                  <td><%= home_registration_pet.created_at.strftime('%d/%m/%Y') %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <div class="card-body">
            <div class="alert alert-warning alert-dismissible p-4 text-center font-weight-bold" role="alert">
              <i class="fas fa-exclamation-triangle mr-2"></i>Nenhuma Animal Doméstico registrado.
            </div>
          </div>
        <% end %>
      </div>
      <div class="card<%= ' card-collapsed' unless @home_registration&.address&.errors&.any? %> mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-map-marked-alt mr-2"></i><%= Address.model_name.human(count: 2) %>
          </h3>
          <div class="card-options">
            <a href="#" class="card-options-collapse badge bg-blue-deep text-white p-1" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
          </div>
        </div>
        <div class="card-body">
          <%= f.simple_fields_for :address do |address| %>
            <%= render 'application/address_fields', f: address %>
          <% end %>
        </div>
      </div>
      <div class="card<%= ' card-collapsed' unless @home_registration&.living_condition&.errors&.any? %> mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-hand-holding mr-2"></i><%= LivingCondition.model_name.human(count: 2) %>
          </h3>
          <div class="card-options">
            <a href="#" class="card-options-collapse badge bg-blue-deep text-white p-1" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
          </div>
        </div>
        <div class="card-body">
          <%= f.simple_fields_for :living_condition do |living_condition| %>
            <%= render 'application/living_condition_fields', f: living_condition %>
          <% end %>
        </div>
      </div>
      <div class="card<%= ' card-collapsed' unless @home_registration&.permanence_institution&.errors&.any? %> mb-3">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-life-ring mr-2"></i><%= PermanenceInstitution.model_name.human(count: 2) %>
          </h3>
          <div class="card-options">
            <a href="#" class="card-options-collapse badge bg-blue-deep text-white p-1" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
          </div>
        </div>
        <div class="card-body">
          <%= f.simple_fields_for :permanence_institution do |permanence_institution| %>
            <%= render 'application/permanence_institution_fields', f: permanence_institution %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= render template: 'application/form', locals: {form: @home_registration} %>
<% end %>
