<%= render 'application/page_header', model: HomeRegistration %>
<div class="card">
  <div class="card-status bg-blue"></div>
  <div class="card-header p-4">
    <div class="col-sm-12 col-lg-12">
      <div class="form-row">
        <div class="col-sm-12 col-lg-6 p-0">
          <%= render 'application/pagy_count', list: @pagy %>
        </div>
        <div class="col-sm-12 col-lg-6 p-0">
          <%= search_form_for @query do |f| %>
            <%= f.search_field :search_cont, class: 'form-control', placeholder: t('helpers.search') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-0 m-0">
    <table class="table card-table table-vcenter text-nowrap table-hover">
      <thead>
      <tr>
        <th><%= HomeRegistration.human_attribute_name :id %></th>
        <th><%= HomeRegistration.human_attribute_name :health_professional %></th>
        <th><%= HomeRegistration.human_attribute_name :pet_quantity %></th>
        <th><%= HomeRegistration.human_attribute_name :refuse_registration %></th>
        <th><%= HomeRegistration.human_attribute_name :uuid %></th>
        <th><%= HomeRegistration.human_attribute_name :uuid_form_origin %></th>
        <th><%= HomeRegistration.human_attribute_name :home_type %></th>
        <th><%= HomeRegistration.human_attribute_name :finished %></th>
        <th><%= t('helpers.labels.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @home_registrations.each do |home_registration| %>
        <tr>
          <td><%= home_registration.id %></td>
          <td><%= home_registration.health_professional_id %></td>
          <td><%= home_registration.pet_quantity %></td>
          <td><%= home_registration.refuse_registration ? 'SIM' : 'NÃO' %></td>
          <td><%= home_registration.uuid %></td>
          <td><%= home_registration.uuid_form_origin %></td>
          <td><%= home_registration&.home_type&.name %></td>
          <td><%= home_registration.finished ? 'SIM' : 'NÃO' %></td>
          <td class="text-center">
            <%= render 'application/table_links', f: home_registration %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= render 'application/footer_links', url: new_home_registration_path, model: HomeRegistration %>
  </div>
</div>
