<%= render 'application/page_header', model: Role %>
<div class="card">
  <div class="card-status bg-transparent"></div>
  <div class="card-header p-4">
    <div class="col-sm-12 col-lg-12">
      <div class="form-row">
        <div class="col-sm-12 col-lg-6 p-0">
          <%= render 'application/pagy_count', list: @pagy, model: Role, url: new_role_path %>
        </div>
        <div class="col-sm-12 col-lg-6 p-0">
          <%= search_form_for @query do |f| %>
            <%= f.search_field :search_cont, class: 'form-control', placeholder: t('helpers.search') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-0 m-0">
    <table class="table card-table table-vcenter text-nowrap table-hover">
      <thead>
      <tr>
        <th><%= Role.human_attribute_name :name %></th>
        <th><%= Role.human_attribute_name :description %></th>
        <th><%= Role.human_attribute_name :role_type %></th>
        <th><%= Role.human_attribute_name :admin %></th>
        <th><%= t('helpers.labels.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @roles.each do |role| %>
        <tr>
          <td><%= role.name %></td>
          <td><%= role.description %></td>
          <td><%= role.role_type %></td>
          <td><%= role.admin ? 'SIM' : 'NÃO' %></td>
          <td class="text-center">
            <%= render 'application/table_links', f: role %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= render 'application/footer_links', url: new_role_path, model: Role %>
  </div>
</div>
