<div class="row row-cards mb-0">
  <% if current_user.admin? || current_user.mayor? || current_user.nurse? || current_user.support? %>
    <%= render partial: 'application/dashboard_card',
               locals: {icon: t('activerecord.models.health_establishment.icon'),
                        color: 'green',
                        value: HealthEstablishment.count,
                        action: health_establishments_path,
                        description: HealthEstablishment.model_name.human(count: 2)} %>
    <%= render partial: 'application/dashboard_card',
               locals: {value: ProfessionalTeam.count,
                        icon: t('activerecord.models.professional_team.icon'),
                        color: 'orange',
                        action: professional_teams_path,
                        description: ProfessionalTeam.model_name.human(count: 2)} %>
    <%= render partial: 'application/dashboard_card',
               locals: {icon: t('activerecord.models.health_professional.icon'),
                        color: 'purple',
                        value: HealthProfessional.count,
                        action: health_professionals_path,
                        description: HealthProfessional.model_name.human(count: 2)} %>
  <% end %>
  <% if current_user.admin? || current_user.agent? || current_user.secretary? || current_user.mayor? %>
    <%= render partial: 'application/dashboard_card',
               locals: {icon: t('activerecord.models.family.icon'),
                        color: 'blue',
                        value: @families,
                        action: families_path,
                        description: Family.model_name.human(count: 2)} %>
    <%= render partial: 'application/dashboard_card',
               locals: {icon: t('activerecord.models.family_member.icon'),
                        color: 'smoke',
                        value: @family_members,
                        action: family_members_path,
                        description: FamilyMember.model_name.human(count: 2)} %>
    <%= render partial: 'application/dashboard_card',
               locals: {icon: t('activerecord.models.individual_registration.icon'),
                        value: @individual_registrations,
                        action: individual_registrations_path,
                        description: IndividualRegistration.model_name.human(count: 2)[10..-1]} %>
    <%= render partial: 'application/dashboard_card',
               locals: {icon: t('activerecord.models.home_registration.icon'),
                        value: @home_registrations,
                        action: home_registrations_path,
                        description: HomeRegistration.model_name.human(count: 2)[10..-1][0..19]} %>
    <%= render partial: 'application/dashboard_card',
               locals: {icon: t('activerecord.models.home_visit_registration.icon'),
                        value: @home_visit_registrations,
                        action: home_visit_registrations_path,
                        description: HomeVisitForm.model_name.human(count: 2)[10..-1]} %>
  <% end %>
</div>
<div class="row row-cards">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
      <% if Period.any? %>
        <div class="col-lg-6 mb-0">
          <%= render 'application/periods', periods: @periods %>
        </div>
      <% end %>
      <% if VaccinationCampaign.any? %>
        <div class="col-lg-6 mb-0">
          <%= render 'application/vaccination_campaigns', vaccination_campaigns: @vaccination_campaigns %>
        </div>
      <% end %>
      <div class="col-lg-4">
        <div class="card mb-3">
          <div class="card-header">
            <h4 class="mt-2 mb-0 text-center"><%= Family.model_name.human(count: 2) %></h4>
          </div>
          <div class="card-body p-2">
            <%= render 'application/chart', id: 'chart-families' %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-3">
          <div class="card-header">
            <h4 class="mt-2 mb-0 text-center"><%= FamilyMember.model_name.human(count: 2) %></h4>
          </div>
          <div class="card-body p-2">
            <%= render 'application/chart', id: 'chart-family-members' %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-3">
          <div class="card-header">
            <h4 class="mt-2 mb-0 text-center"><%= IndividualRegistration.model_name.human(count: 2) %></h4>
          </div>
          <div class="card-body p-2">
            <%= render 'application/chart', id: 'chart-individual-registrations' %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-3">
          <div class="card-header">
            <h4 class="mt-2 mb-0 text-center"><%= HomeRegistration.model_name.human(count: 2) %></h4>
          </div>
          <div class="card-body p-2">
            <%= render 'application/chart', id: 'chart-home-registrations' %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-3">
          <div class="card-header">
            <h4 class="mt-2 mb-0 text-center"><%= HomeVisitRegistration.model_name.human(count: 2) %></h4>
          </div>
          <div class="card-body p-2">
            <%= render 'application/chart', id: 'chart-home-visit-registrations' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
