<div class="form-row row-cards">
  <div class="col-lg col-md-4 col-sm">
    <%= render partial: 'application/dashboard_card',
               locals: {icon: 'fas fa-file-alt',
                        color: 'teal-light',
                        value: Random.rand(1..10000),
                        description: HealthProfessional.model_name.human(count: 2)} %>
  </div>
  <div class="col-lg col-md-4 col-sm">
    <%= render partial: 'application/dashboard_card',
               locals: {value: Random.rand(1..10000),
                        icon: 'fas fa-arrow-down',
                        color: 'green-light',
                        description: ProfessionalTeam.model_name.human(count: 2)} %>
  </div>
  <div class="col-lg col-md-4 col-sm">
    <%= render partial: 'application/dashboard_card',
               locals: {icon: 'fas fa-arrow-up',
                        color: 'red-light',
                        value: Random.rand(1..10000),
                        description: HealthEstablishment.model_name.human(count: 2)} %>
  </div>
  <div class="col-lg col-md-4 col-sm">
    <%= render partial: 'application/dashboard_card',
               locals: {icon: 'fas fa-dollar-sign',
                        color: 'yellow',
                        value: Random.rand(1..10000),
                        description: Family.model_name.human(count: 2)} %>
  </div>
  <div class="col-lg col-md-4 col-sm">
    <%= render partial: 'application/dashboard_card',
               locals: {icon: 'fas fa-dollar-sign',
                        color: 'yellow',
                        value: Random.rand(1..10000),
                        description: FamilyMember.model_name.human(count: 2)} %>
  </div>
</div>
