<div class="row row-cards">
  <%= render partial: 'application/dashboard_card',
             locals: {icon: 'fas fa-user-md',
                      color: 'purple',
                      value: Random.rand(1..10000),
                      action: health_professionals_path,
                      description: HealthProfessional.model_name.human(count: 2)} %>
  <%= render partial: 'application/dashboard_card',
             locals: {value: Random.rand(1..10000),
                      icon: 'fas fa-users-cog',
                      color: 'orange',
                      action: professional_teams_path,
                      description: ProfessionalTeam.model_name.human(count: 2)} %>
  <%= render partial: 'application/dashboard_card',
             locals: {icon: 'fas fa-hospital',
                      color: 'green',
                      value: Random.rand(1..10000),
                      action: health_establishments_path,
                      description: HealthEstablishment.model_name.human(count: 2)} %>
  <%= render partial: 'application/dashboard_card',
             locals: {icon: 'fas fa-address-book',
                      color: 'blue',
                      value: Random.rand(1..10000),
                      action: families_path,
                      description: Family.model_name.human(count: 2)} %>
  <%= render partial: 'application/dashboard_card',
             locals: {icon: 'fas fa-user',
                      color: 'smoke',
                      value: Random.rand(1..10000),
                      action: family_members_path,
                      description: FamilyMember.model_name.human(count: 2)} %>
</div>
<div class="row row-cards">
  <%= render 'application/chart', title: Family.model_name.human(count: 2), id: 'families' %>
  <%= render 'application/chart', title: FamilyMember.model_name.human(count: 2), id: 'family-members' %>
  <%= render 'application/chart', title: HomeVisitRegistration.model_name.human(count: 2), id: 'home-visit-registrations' %>
</div>
<div class="row row-cards">
  <div class="col-lg-12">
    <div class="card mb-0">
      <div class="card-header">
        <%= link_to vaccination_campaigns_path do %>
          <div class="h3 card-title font-weight-bold text-blue-deep">
            <%= VaccinationCampaign.model_name.human(count: 1) %>
          </div>
        <% end %>
        &nbsp;<small class="pl-1 text-muted">(<%= VaccinationCampaign&.last&.title || 'Nenhuma' %>)</small>
        <div class="card-options">
          <a href="#" class="card-options-collapse badge bg-blue-deep text-white p-1" data-toggle="card-collapse">
            <i class="fe fe-chevron-up"></i>
          </a>
        </div>
      </div>
      <div class="card-body"></div>
      <div class="card-body p-0">
        <div id="map" class="card-map rounded" style="min-height: 29.3rem;"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  navigator.geolocation.getCurrentPosition(function (position) {
    mapboxgl.accessToken = 'pk.eyJ1IjoidGlhZ29jYXNzaW8iLCJhIjoiY2p4dW1wbWs4MTZxczNjcW0xN2d2NmFjMiJ9.DmiiFFq3jPkdaDsoyjRDYw';

    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v10',
      center: [position.coords.longitude, position.coords.latitude],
      zoom: 15
    });

    const popup = new mapboxgl.Popup({offset: 25}).setText('');

    let div = document.createElement('div');
    let icon = document.createElement('i');

    icon.classList.add('fas');
    icon.classList.add('fa-male');
    icon.classList.add('fa-4x');
    icon.classList.add('text-green');
    div.append(icon);

    new mapboxgl.Marker(div)
      .setLngLat([position.coords.longitude, position.coords.latitude])
      .setPopup(popup).addTo(map);

    map.addControl(new mapboxgl.NavigationControl());
  });
</script>
