<%= render 'application/page_header', model: City %>
<div class="card">
  <div class="card-status bg-blue"></div>
  <div class="card-header p-4">
    <div class="col-sm-12 col-lg-12">
      <div class="form-row">
        <div class="col-sm-12 col-lg-6 p-0">
          <%= render 'application/pagy_count', list: @pagy %>
        </div>
        <div class="col-sm-12 col-lg-6 p-0">
          <%= search_form_for @query do |f| %>
            <%= f.search_field :search_cont, class: 'form-control', placeholder: t('helpers.search') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-0 m-0">
    <table class="table card-table table-vcenter text-nowrap table-hover">
      <thead>
      <tr>
        <th><%= City.human_attribute_name :name %></th>
        <th><%= City.human_attribute_name :code %></th>
        <th><%= City.human_attribute_name :state %></th>
        <th><%= City.human_attribute_name :reference %></th>
        <th><%= t('helpers.labels.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @cities.each do |city| %>
        <tr>
          <td><%= city.name %></td>
          <td><%= city.code %></td>
          <td><%= city&.state&.name_formatted %></td>
          <td><%= city.reference %></td>
          <td class="text-center">
            <%= render 'application/table_links', f: city %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-center">
    <div class="m-0 mx-auto">
      <%= render 'application/footer_links', url: new_city_path, model: City %>
    </div>
  </div>
</div>
