<div class="flex-fill">
  <%= render 'application/navbar' %>
  <%= render 'application/menu' %>
  <div class="my-3 my-md-5">
    <div class="container-fluid">
      <%= render 'application/flashes' %>
      <%= yield :page_header %>
      <%= yield %>
    </div>
  </div>
</div>
