<div class="form-row">
  <%= f.association :weight_situation, collection: GenericModel.weight_situations,
                    label_method: :name_formatted,
                    wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
  <%= f.input :maternity_reference, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
  <div class="col-12">
    <div class="form-row">
      <%= f.input :alcohol_dependent, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :other_drugs_dependent, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :smoker, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :pregnant, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :bedridden, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :domiciled, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :diabetic, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :respiratory, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :hypertension, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :cancer, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :kidneys, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :leprosy, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :tuberculosis, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :avc_stroke, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :had_heart_attack, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :had_heart_disease, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :recently_hospitalized, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :mental_issue, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :integrative_practices, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :medicinal_plants, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :hospitalization_cause, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {rows: 3, disabled: show?(f.object.persisted?)} %>
      <%= f.input :other_condition_one, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {rows: 3, disabled: show?(f.object.persisted?)} %>
      <%= f.input :other_condition_two, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {rows: 3, disabled: show?(f.object.persisted?)} %>
      <%= f.input :other_condition_three, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {rows: 3, disabled: show?(f.object.persisted?)} %>
      <%= f.input :medicinal_plants_used, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {rows: 3, disabled: show?(f.object.persisted?)} %>
      <div class="col-12">
        <div class="form-row">
          <div class="card card-collapsed mb-3">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-notes-medical mr-2"></i><%= HealthConditionKidney.model_name.human(count: 2) %>
              </h3>
              <div class="card-options">
                <a href="#" class="card-options-collapse badge bg-blue-deep text-white p-1" data-toggle="card-collapse">
                  <i class="fe fe-chevron-up"></i>
                </a>
              </div>
            </div>
            <% unless show?(f.object.persisted?) %>
              <div class="card-body py-2">
                <%= link_to_add_association f, :health_condition_kidneys,
                                            class: 'btn btn-sm btn-primary', role: 'button',
                                            data: {
                                              'association-insertion-node': '#kidneys',
                                              'association-insertion-method': 'append'
                                            } do %>
                  <i class="fas fa-plus mr-2" aria-hidden="true"></i>Novo
                <% end %>
              </div>
            <% end %>
            <div id="kidneys" class="card-body">
              <%= f.simple_fields_for :health_condition_kidneys do |health_condition_kidney| %>
                <%= render 'application/health_condition_kidney_fields', f: health_condition_kidney %>
              <% end %>
            </div>
          </div>
          <div class="card card-collapsed mb-3">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-notes-medical mr-2"></i><%= HealthConditionHeart.model_name.human(count: 2) %>
              </h3>
              <div class="card-options">
                <a href="#" class="card-options-collapse badge bg-blue-deep text-white p-1" data-toggle="card-collapse">
                  <i class="fe fe-chevron-up"></i>
                </a>
              </div>
            </div>
            <% unless show?(f.object.persisted?) %>
              <div class="card-body py-2">
                <%= link_to_add_association f, :health_condition_hearts,
                                            class: 'btn btn-sm btn-primary', role: 'button',
                                            data: {
                                              'association-insertion-node': '#hearts',
                                              'association-insertion-method': 'append'
                                            } do %>
                  <i class="fas fa-plus mr-2" aria-hidden="true"></i>Novo
                <% end %>
              </div>
            <% end %>
            <div id="hearts" class="card-body">
              <%= f.simple_fields_for :health_condition_hearts do |health_condition_heart| %>
                <%= render 'application/health_condition_heart_fields', f: health_condition_heart %>
              <% end %>
            </div>
          </div>
          <div class="card card-collapsed mb-3">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-notes-medical mr-2"></i><%= HealthConditionRespiratory.model_name.human(count: 2) %>
              </h3>
              <div class="card-options">
                <a href="#" class="card-options-collapse badge bg-blue-deep text-white p-1" data-toggle="card-collapse">
                  <i class="fe fe-chevron-up"></i>
                </a>
              </div>
            </div>
            <% unless show?(f.object.persisted?) %>
              <div class="card-body py-2">
                <%= link_to_add_association f, :health_condition_respiratories,
                                            class: 'btn btn-sm btn-primary', role: 'button',
                                            data: {
                                              'association-insertion-node': '#respiratories',
                                              'association-insertion-method': 'append'
                                            } do %>
                  <i class="fas fa-plus mr-2" aria-hidden="true"></i>Novo
                <% end %>
              </div>
            <% end %>
            <div id="respiratories" class="card-body">
              <%= f.simple_fields_for :health_condition_respiratories do |health_condition_respiratory| %>
                <%= render 'application/health_condition_respiratory_fields', f: health_condition_respiratory %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
