<div class="nested-fields">
  <div class="card card-collapsed mb-3">
    <div class="card-body">
      <div class="form-row">
        <% unless show?(f.object.persisted?) %>
          <div class="col-lg-12 col-sm-12 text-right">
            <%= link_to_remove_association f, class: 'btn btn-icon btn-danger', role: 'button' do %>
              <i class="fas fa-times mr-2"></i><%= t('helpers.submit.submit') %>
            <% end %>
          </div>
        <% end %>
        <%= f.input :handbook_number, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
        <%= f.input :cns_number, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
        <%= f.input :birth_date, html5: true, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
        <%= f.input :gender, collection: GenericModel.genders,
                    label_method: :name_formatted,
                    wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
        <%= f.association :turn, collection: GenericModel.turns,
                          label_method: :name_formatted,
                          wrapper_html: {class: 'col-lg-3 col-sm-12'},
                          input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
        <%= f.input :other_visit, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
        <%= f.input :outcome, collection: GenericModel.outcomes,
                    label_method: :name_formatted,
                    wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
        <%= f.input :home_type, collection: GenericModel.home_types,
                    label_method: :name_formatted,
                    wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
        <%= f.input :out_area, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
        <%= f.input :weight_monitoring, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
        <%= f.input :height_monitoring, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      </div>
    </div>
  </div>
</div>
