<div class="form-row">
  <%= f.input :pet_quantity, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
  <%= f.input :refuse_registration, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
  <%= f.input :finished, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
  <%= f.association :health_professional, collection: HealthProfessional.all,
                    wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
  <%= f.association :home_type, collection: GenericModel.residence_types,
                    wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
  <div class="col-12">
    <% if f.object.persisted? %>
      <div class="card mb-3">
        <div class="card-body">
          <% if f.object.families.any? %>
            <% f.object.families.each do |family| %>
              <% render 'application/family_fields', f: family %>
            <% end %>
          <% else %>
            <div class="alert alert-warning alert-dismissible p-4 text-center" role="alert">
              <div class="row">
                <div class="col pt-2 py-auto text-left font-weight-bold">
                  <i class="fas fa-exclamation-triangle mr-2"></i>Nenhuma família incluída
                </div>
                <div class="col text-right">
                  <%= link_to new_family_path, class: 'btn btn-primary', role: 'button' do %>
                    <i class="fas fa-plus mr-2"></i>Adicionar Família
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-map-marked-alt mr-2"></i><%= Address.model_name.human(count: 2) %>
        </h3>
      </div>
      <div class="card-body">
        <%= f.simple_fields_for :address do |address| %>
          <%= render 'application/address_fields', f: address %>
        <% end %>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-paw mr-2"></i><%= HomeRegistrationPet.model_name.human(count: 2) %>
        </h3>
        <div class="card-options">
          <%= link_to_add_association f, :home_registration_pets,
                                      class: 'btn btn-sm btn-primary', role: 'button',
                                      data: {
                                        'association-insertion-node': '#pets',
                                        'association-insertion-method': 'append'
                                      } do %>
            <i class="fas fa-plus mr-2" aria-hidden="true"></i>Novo
          <% end %>
        </div>
      </div>
      <div id="pets" class="card-body">
        <%= f.simple_fields_for :home_registration_pets do |home_registration_pet| %>
          <%= render 'application/home_registration_pet_fields', f: home_registration_pet %>
        <% end %>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-hand-holding mr-2"></i><%= LivingCondition.model_name.human(count: 2) %>
        </h3>
      </div>
      <div class="card-body">
        <%= f.simple_fields_for :living_condition do |living_condition| %>
          <%= render 'application/living_condition_fields', f: living_condition %>
        <% end %>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-life-ring mr-2"></i><%= PermanenceInstitution.model_name.human(count: 2) %>
        </h3>
      </div>
      <div class="card-body">
        <%= f.simple_fields_for :permanence_institution do |permanence_institution| %>
          <%= render 'application/permanence_institution_fields', f: permanence_institution %>
        <% end %>
      </div>
    </div>
  </div>
</div>
