<div class="form-row">
  <%= f.input :kinship_degree, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
  <%= f.input :other_accompanied, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
  <%= f.association :meals_per_day, collection: GenericModel.meals_per_day, label_method: :name_formatted, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
  <%= f.association :street_situation_time, collection: GenericModel.street_situation_time, label_method: :name_formatted, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
  <div class="col-12">
    <div class="form-row">
      <%= f.input :has_other_accompanied, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :familiar_reference, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :receive_benefits, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :in_street_situation, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :has_personal_hygiene, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :family_visit, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    </div>
  </div>
  <div class="col-lg-12">
    <br/>
    <div class="card card-collapsed mb-3">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-bath mr-2"></i><%= InStreetHygieneAccess.model_name.human(count: 2) %>
        </h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse badge bg-blue-deep text-white p-1" data-toggle="card-collapse">
            <i class="fe fe-chevron-up"></i>
          </a>
        </div>
      </div>
      <div class="card-body py-2">
        <%= link_to_add_association f, :in_street_hygiene_accesses,
                                    class: 'btn btn-sm btn-primary', role: 'button',
                                    data: {
                                      'association-insertion-node': '#in_street_hygiene_accesses',
                                      'association-insertion-method': 'append'
                                    } do %>
          <i class="fas fa-plus mr-2" aria-hidden="true"></i>Novo
        <% end %>
      </div>
      <div id="in_street_hygiene_accesses" class="card-body">
        <%= f.simple_fields_for :in_street_hygiene_accesses do |in_street_hygiene_access| %>
          <%= render 'application/in_street_hygiene_access_fields', f: in_street_hygiene_access %>
        <% end %>
      </div>
    </div>
  </div>
</div>
