<div id="map" class="card-map rounded" style="min-height: 30rem;"></div>
<script type="text/javascript">
    function menMarker(color) {
        let divMale = document.createElement('div');
        let iconMale = document.createElement('i');
        iconMale.classList.add('fas');
        iconMale.classList.add('fa-male');
        iconMale.classList.add('fa-4x');
        iconMale.classList.add('text-' + color);
        divMale.append(iconMale);

        return divMale;
    }

    function womanMarker(color) {
        let divFemale = document.createElement('div');
        let iconFemale = document.createElement('i');
        iconFemale.classList.add('fas');
        iconFemale.classList.add('fa-female');
        iconFemale.classList.add('fa-4x');
        iconFemale.classList.add('text-' + color);
        divFemale.append(iconFemale);

        return divFemale;
    }

    function teenageMarker(color) {
        let divTeenage = document.createElement('div');
        let iconTeenage = document.createElement('i');
        iconTeenage.classList.add('fas');
        iconTeenage.classList.add('fa-male');
        iconTeenage.classList.add('fa-3x');
        iconTeenage.classList.add('text-' + color);
        divTeenage.append(iconTeenage);

        return divTeenage;
    }

    function childMarker(color) {
        let divChild = document.createElement('div');
        let iconChild = document.createElement('i');
        iconChild.classList.add('fas');
        iconChild.classList.add('fa-child');
        iconChild.classList.add('fa-3x');
        iconChild.classList.add('text-' + color);
        divChild.append(iconChild);

        return divChild;
    }

    function newbornMarker(color) {
        let divNewborn = document.createElement('div');
        let iconNewborn = document.createElement('i');
        iconNewborn.classList.add('fas');
        iconNewborn.classList.add('fa-baby');
        iconNewborn.classList.add('fa-3x');
        iconNewborn.classList.add('text-' + color);
        divNewborn.append(iconNewborn);

        return divNewborn;
    }

    function elderlyMarker(color) {
        let divNewborn = document.createElement('div');
        let iconNewborn = document.createElement('i');
        iconNewborn.classList.add('fas');
        iconNewborn.classList.add('fa-blind');
        iconNewborn.classList.add('fa-4x');
        iconNewborn.classList.add('text-' + color);
        divNewborn.append(iconNewborn);

        return divNewborn;
    }

    // TODO Treat marker colors
    function marker(index, color) {
        return menMarker(color);
    }

    navigator.geolocation.getCurrentPosition(function (position) {
        mapboxgl.accessToken = 'pk.eyJ1IjoidGlhZ29jYXNzaW8iLCJhIjoiY2p4dW1wbWs4MTZxczNjcW0xN2d2NmFjMiJ9.DmiiFFq3jPkdaDsoyjRDYw';

        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/light-v10',
            center: [position.coords.longitude, position.coords.latitude],
            zoom: 16
        });

        <% family_members.each do |family_member| %>
        var lng = "<%= family_member.location_x %>";
        var lat = "<%= family_member.location_y %>";
        new mapboxgl.Marker(marker("<%= %w(success).sample %>"))
            .setLngLat([lng, lat])
            .setPopup(new mapboxgl.Popup({offset: 15})
            // TODO Set marker information here
                .setHTML('<p class="text-center font-weight-bold"><%= link_to family_member.name, family_member %></p><p>Gênero: <%= family_member.gender.name_formatted %></p><p>Idade: <%= family_member.age %></p>'))
            .addTo(map);
        <% end %>

        map.addControl(new mapboxgl.NavigationControl());
    });
</script>
