<% GenericModel.app_modules.order(:reference).where.not(reference: 3).each do |app_module| %>
  <% if current_user.permissions.by_app_module(app_module).any? %>
    <li class="nav-item dropdown">
      <a href="javascript:void(0)" class="nav-link <%= "active" if controller_name != 'dashboards' && Permission.where(app_module: app_module).map(&:model_reference).include?(controller_name.singularize.camelcase) %> py-4" data-toggle="dropdown" aria-expanded="false">
        <%= app_module.name.html_safe %>
      </a>
      <div class="dropdown-menu dropdown-menu-arrow" x-placement="bottom-start">
        <% current_user.permissions.by_app_module(app_module).each do |permission| %>
          <%= link_to send("#{permission.model_reference.camelcase.underscore.pluralize}_path"), class: 'dropdown-item' do %>
            <i class="<%= t("activerecord.models.#{permission.model_reference.camelcase.underscore}.icon") %> dropdown-icon"></i><%= permission.model_reference.constantize.model_name.human(count: 2) %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
<% end %>

<li class="nav-item dropdown">
  <a href="javascript:void(0)" class="nav-link <%= "active" if controller_name != 'dashboards' && controller_name == 'reports' %> py-4" data-toggle="dropdown" aria-expanded="false">
    <%= GenericModel.app_modules.find_by(reference: 3).name.html_safe %>
  </a>
  <div class="dropdown-menu dropdown-menu-arrow" x-placement="bottom-start">
    <%= link_to families_reports_path, class: 'dropdown-item' do %>
      <i class="<%= t("activerecord.models.family.icon") %> dropdown-icon"></i>Relatório de <%= Family.model_name.human(count: 2) %>
    <% end %>
    <%= link_to family_members_reports_path, class: 'dropdown-item' do %>
      <i class="<%= t("activerecord.models.family_member.icon") %> dropdown-icon"></i>Relatório de <%= FamilyMember.model_name.human(count: 2) %>
    <% end %>
    <%= link_to individual_registrations_reports_path, class: 'dropdown-item' do %>
      <i class="<%= t("activerecord.models.individual_registration.icon") %> dropdown-icon"></i>Relatório de <%= IndividualRegistration.model_name.human(count: 2) %>
    <% end %>
    <%= link_to home_registrations_reports_path, class: 'dropdown-item' do %>
      <i class="<%= t("activerecord.models.home_registration.icon") %> dropdown-icon"></i>Relatório de <%= HomeRegistration.model_name.human(count: 2) %>
    <% end %>
    <%= link_to home_visit_registrations_reports_path, class: 'dropdown-item' do %>
      <i class="<%= t("activerecord.models.home_visit_registration.icon") %> dropdown-icon"></i>Relatório de <%= HomeVisitRegistration.model_name.human(count: 2) %>
    <% end %>
  </div>
</li>
