<div class="card mb-4">
  <div class="card-header">
    <h3 class="font-weight-bold py-4 mb-0">
      <%= link_to periods_path do %>
        <i class="<%= t('activerecord.models.period.icon') %> mr-2"></i><%= Period.model_name.human(count: 2) %>
      <% end %>
    </h3>
  </div>
  <table class="table card-table">
    <thead>
      <tr class="text-left">
        <th>Competência</th>
        <th>Período</th>
        <th>Total de fichas</th>
      </tr>
    </thead>
    <tbody>
    <% periods.each do |pd| %>
      <tr>
        <td class="align-middle py-5">
          <%= link_to period_path(pd) do %>
            <div class="h4 text-blue-deep mb-0">
              <%= pd.competence %>
            </div>
          <% end %>
        </td>
        <td class="align-middle">
          <div class="h6 mb-0">
            <%= "#{pd.start_date.strftime('%d/%m/%Y')} até #{pd.end_date.strftime('%d/%m/%Y')}" %>
          </div>
        </td>
        <td class="text-center align-middle">
          <div class="badge badge-<%= %w(warning success danger).sample %> d-block badge-radius">
            <h4 class="mb-0 p-3"><%= (1..100).to_a.sample %></h4>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
