<div class="card mb-3">
  <div class="card-header">
    <h3 class="font-weight-bold py-3 mb-0">
      <% if current_user.admin? || current_user.nurse? || current_user.support? %>
        <%= link_to periods_path do %>
          <i class="<%= t('activerecord.models.period.icon') %> mr-2"></i><%= Period.model_name.human(count: 2) %>
        <% end %>
      <% else %>
        <i class="<%= t('activerecord.models.period.icon') %> mr-2"></i><%= Period.model_name.human(count: 2) %>
      <% end %>
    </h3>
  </div>
  <table class="table card-table">
    <thead>
    <tr class="text-left">
      <th>Competência</th>
      <th>Período</th>
      <th>Total de fichas</th>
    </tr>
    </thead>
    <tbody>
    <% periods.each do |pd| %>
      <tr>
        <td class="align-middle py-5">
          <% month = pd.competence.split('/')[0].to_i %>
          <% year = pd.competence.split('/')[1].to_i %>
          <% if current_user.admin? || current_user.nurse? || current_user.support? || current_user.agent? %>
            <%= link_to period_path(pd) do %>
              <div class="h4 text-blue-deep mb-0">
                <% if month == Time.current.month && year == Time.current.year %>
                  <%= "#{t('date.abbr_month_names')[month].upcase}/#{year}" %> (Atual)
                <% else %>
                  <%= "#{t('date.abbr_month_names')[month].upcase}/#{year}" %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="h4 text-blue-deep mb-0">
              <%= "#{t('date.abbr_month_names')[month].upcase}/#{year}" %>
            </div>
          <% end %>
        </td>
        <td class="align-middle">
          <div class="h6 mb-0">
            <%= "#{pd.start_date.strftime('%d/%m/%Y')} até #{pd.deadline.strftime('%d/%m/%Y')}" %>
          </div>
        </td>
        <td class="text-center align-middle">
          <div class="badge bg-blue-deep d-block badge-radius">
            <h5 class="mb-0 p-2"><%= current_user.agent? ? pd.period_items.where(user: current_user).count : pd.period_items %></h5>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
