<div class="form-row">
  <%= f.association :education_level,
                    collection: GenericModel.education_levels,
                    label_method: :name_formatted, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
  <%= f.association :occupation,
                    collection: @occupation_selected ? [@occupation_selected] : [],
                    selected: @occupation_selected,
                    label_method: :name_formatted,
                    wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'cbo-types', disabled: show?(f.object.persisted?)} %>
  <%= f.association :sexual_orientation, label_method: :name_formatted, collection: GenericModel.sexual_orientations, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
  <%= f.input :traditional_community_name, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
  <%= f.association :parent_relation, collection: GenericModel.parent_relations,
                    label_method: :name_formatted, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
  <%= f.association :gender_identity, collection: GenericModel.gender_identities,
                    label_method: :name_formatted, wrapper_html: {class: 'col-lg-3 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
  <%= f.association :job_market_situation, collection: GenericModel.job_market_situations,
                    label_method: :name_formatted, wrapper_html: {class: 'col-lg-6 col-sm-12'}, input_html: {class: 'select2', disabled: show?(f.object.persisted?)} %>
  <div class="col-12">
    <div class="form-row">
      <%= f.input :desire_orientation, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :attend_folk_healer, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :traditional_community, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :attend_school, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :community_group, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :health_plan, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
      <%= f.input :desire_gender, wrapper_html: {class: 'pl-2 col-lg-3 col-sm-12'}, input_html: {disabled: show?(f.object.persisted?)} %>
    </div>
  </div>
  <div class="col-12">
    <br/>
    <div class="card card-collapsed mb-3">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-wheelchair mr-2"></i><%= FamilyMemberDisability.model_name.human(count: 2) %>
        </h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse badge bg-blue-deep text-white p-1" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <% unless show?(f.object.persisted?) %>
        <div class="card-body py-2">
          <%= link_to_add_association f, :family_member_disabilities,
                                      class: 'btn btn-sm btn-primary', role: 'button',
                                      data: {
                                        'association-insertion-node': '#family_member_disabilities',
                                        'association-insertion-method': 'append'
                                      } do %>
            <i class="fas fa-plus mr-2" aria-hidden="true"></i>Novo
          <% end %>
        </div>
      <% end %>
      <div id="family_member_disabilities" class="card-body">
        <%= f.simple_fields_for :family_member_disabilities do |family_member_disability| %>
          <%= render 'application/family_member_disability_fields', f: family_member_disability %>
        <% end %>
      </div>
    </div>
  </div>
</div>
