<div class="card">
  <div class="card-header">
    <h3 class="font-weight-bold py-4 mb-0">
      <%= link_to vaccination_campaigns_path do %>
        <i class="<%= t('activerecord.models.vaccination_campaign.icon') %> mr-2"></i><%= VaccinationCampaign.model_name.human(count: 2) %>
      <% end %>
    </h3>
  </div>
  <table class="table card-table">
    <tbody>
    <% vaccination_campaigns.each do |vc| %>
      <tr>
        <td class="align-middle py-5">
          <%= link_to vaccination_campaign_path(vc) do %>
            <div class="h4 text-blue-deep mb-0">
              <%= vc.title %>
            </div>
          <% end %>
        </td>
        <td class="text-center align-middle">
          <div class="h6 mb-0">
            <%= "#{vc.period_start.strftime('%d/%m/%Y')} até #{vc.period_end.strftime('%d/%m/%Y')}" %>
          </div>
        </td>
        <td class="text-center align-middle">
          <div class="badge badge-default">
            <h4 class="mb-0"><%= (1..100).to_a.sample %>%</h4>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
