<%= render 'application/page_header', model: ProfessionalTeam %>
<div class="card">
  <div class="card-status bg-transparent"></div>
  <div class="card-header p-4">
    <div class="col-sm-12 col-lg-12">
      <div class="form-row">
        <div class="col-sm-12 col-lg-6 p-0">
          <%= render 'application/pagy_count', list: @pagy, model: ProfessionalTeam, url: new_professional_team_path %>
        </div>
        <div class="col-sm-12 col-lg-6 p-0">
          <%= search_form_for @query do |f| %>
            <%= f.search_field :search_cont, class: 'form-control', placeholder: t('helpers.search') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-0 m-0">
    <table class="table card-table table-vcenter text-nowrap table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th><%= ProfessionalTeam.human_attribute_name :name %></th>
        <th><%= ProfessionalTeam.human_attribute_name :code %></th>
        <th><%= ProfessionalTeam.human_attribute_name :active %></th>
        <th><%= ProfessionalTeam.human_attribute_name :health_establishment %></th>
        <th><%= t('helpers.labels.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @professional_teams.each do |professional_team| %>
        <tr>
          <td><%= professional_team.id %></td>
          <td><%= professional_team.name %></td>
          <td><%= professional_team.code %></td>
          <td><%= professional_team.active ? 'SIM' : 'NÃO' %></td>
          <td><%= professional_team.health_establishment.name_formatted %></td>
          <td class="text-center">
            <%= render 'application/table_links', f: professional_team %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= render 'application/footer_links', url: new_professional_team_path, model: ProfessionalTeam %>
  </div>
</div>
