<div class="row">
  <div class="col-lg-3">
    <div class="card mb-0">
      <%= search_form_for @query, url: families_reports_path do |f| %>
        <div class="card-header">
          <h3 class="card-title font-weight-bold">Filtro de <%= Family.model_name.human(count: 2) %></h3>
        </div>
        <div class="card-body p-2 o-auto" style="height: 35rem;">
          <div class="col-lg-12">
            <div class="row">
              <%= f.input :responsible_birth_date_gteq, required: false, label: "#{Family.human_attribute_name :responsible_birth_date} de",
                          as: :date, html5: true, wrapper_html: {class: 'col-lg-6 col-sm-12'} %>
              <%= f.input :responsible_birth_date_lteq, label: 'até', required: false,
                          as: :date, html5: true, wrapper_html: {class: 'btn-remove col-lg-6 col-sm-12'} %>
            </div>
          </div>
          <%= f.input :responsible_cns_number_eq, required: false, wrapper_html: {class: 'col-lg-12 col-sm-12'} %>
          <%= f.input :handbook_number_eq, required: false, wrapper_html: {class: 'col-lg-12 col-sm-12'} %>
          <div class="col-lg-12">
            <div class="row">
              <%= f.input :members_quantity_gteq, required: false, label: "#{Family.human_attribute_name :members_quantity} de",
                          as: :integer, wrapper_html: {class: 'col-lg-6 col-sm-12'} %>
              <%= f.input :members_quantity_lteq, required: false, label: "até",
                          as: :integer, wrapper_html: {class: 'col-lg-6 col-sm-12'} %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <%= f.input :reside_since_gteq, required: false, label: "#{Family.human_attribute_name :reside_since} de",
                          as: :date, html5: true, wrapper_html: {class: 'col-lg-6 col-sm-12'} %>
              <%= f.input :reside_since_gteq, required: false, label: "até",
                          as: :date, html5: true, wrapper_html: {class: 'col-lg-6 col-sm-12'} %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-label"><%= Family.human_attribute_name :family_income %> em</label>
              <%= select_tag :family_income_id_in,
                             options_from_collection_for_select(GenericModel.family_incomes,
                                                                :id, :name_formatted, params[:family_income_id_in]),
                             {include_blank: true, multiple: true, class: 'select2-multiple form-control'} %>
            </div>
          </div>
          <%= f.input :moving_true, as: :boolean, required: false, wrapper_html: {class: 'col-lg-6 col-sm-12 pl-3 mb-3'} %>
        </div>
        <div class="card-footer text-center">
          <%= link_to families_reports_path, class: 'btn btn-block btn-sm-block btn-danger btn-submit' do %>
            <i class="fas fa-redo-alt mr-2"></i><span class="btn-title"><%= t("helpers.submit.clear") %></span>
          <% end %>
          <%= button_tag class: 'btn btn-block btn-sm-block btn-primary btn-submit',
                         data: {disable_with: '<i class="fas fa-spinner fa-spin"></i>Pesquisando...'.html_safe} do %>
            <i class="fas fa-search mr-2"></i><span class="btn-title"><%= t("helpers.submit.search") %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg-12">
        <% content_for :table_header do %>
          <thead>
          <tr>
            <th><%= Family.human_attribute_name :responsible_birth_date %></th>
            <th><%= Family.human_attribute_name :responsible_cns_number %></th>
            <th><%= Family.human_attribute_name :handbook_number %></th>
            <th><%= Family.human_attribute_name :members_quantity %></th>
            <th><%= Family.human_attribute_name :reside_since %></th>
            <th><%= Family.human_attribute_name :family_income %></th>
            <th><%= Family.human_attribute_name :moving %></th>
          </tr>
          </thead>
        <% end %>
        <% content_for :table_body do %>
          <tbody>
          <% cache('family_report_list') do %>
            <% @list.each do |family| %>
              <tr>
                <td><%= family.responsible_birth_date.strftime('%d/%m/%Y') %></td>
                <td><%= family.responsible_cns_number %></td>
                <td><%= family.handbook_number %></td>
                <td><%= family.members_quantity %></td>
                <td><%= family.reside_since.strftime('%d/%m/%Y') %></td>
                <td><%= family.family_income.name_formatted %></td>
                <td><%= family.moving ? 'SIM' : 'NÃO' %></td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        <% end %>
        <%= render template: 'reports/table', locals: {model: Family} %>
      </div>
      <% if @family_members.any? %>
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header p-4">
              <h3 class="mb-0">
                <i class="fas fa-map mr-2"></i>Mapa de Localização
              </h3>
            </div>
            <div id="family_map" class="card-body p-0">
              <%= render 'application/map', list: @family_members %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

