<div class="row">
  <div class="col-lg-3">
    <div class="card mb-0">
      <%= search_form_for @query, url: vaccinations_reports_path do |f| %>
        <div class="card-header">
          <h3 class="card-title font-weight-bold">Filtro de <%= Vaccination.model_name.human(count: 2)[10..-1][0..16] %></h3>
        </div>
        <div class="card-body p-2 o-auto" style="height: 35rem;">
          <%= f.input :family_member_id_eq, as: :integer, required: false, wrapper_html: {class: 'col-lg-12 col-sm-12'} %>
          <div class="col-lg-12">
            <div class="row">
              <%= f.input :initial_date_hour_gteq, as: :date, html5: true, required: false, label: "#{Vaccination.human_attribute_name :initial_date_hour} de", wrapper_html: {class: 'col-lg-6 col-sm-12'} %>
              <%= f.input :initial_date_hour_lteq, as: :date, html5: true, label: 'até', required: false, wrapper_html: {class: 'col-lg-6 col-sm-12'} %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <%= f.input :final_date_hour_gteq, as: :date, html5: true, required: false, label: "#{Vaccination.human_attribute_name :final_date_hour} de", wrapper_html: {class: 'col-lg-6 col-sm-12'} %>
              <%= f.input :final_date_hour_lteq, as: :date, html5: true, label: 'até', required: false, wrapper_html: {class: 'col-lg-6 col-sm-12'} %>
            </div>
          </div>
          <%= f.input :patient_type_in, as: :select, selected: params[:q].present? ? params[:q][:patient_type_in] : nil, collection: Vaccination.patient_types.collect{|p,k| [t("activerecord.attributes.vaccination.patient_types.#{p}").upcase, p]}, required: false,
                      wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {class: 'select2-multiple', multiple: true} %>
          <%= f.input :vaccination_campaign_id_in, as: :select, collection: VaccinationCampaign.all, required: false,
                      wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {class: 'select2-multiple', multiple: true} %>
          <%= f.input :turn_id_in, as: :select, collection: GenericModel.turns, required: false,
                      wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {class: 'select2-multiple', multiple: true} %>
          <%= f.input :local_service_id_in, as: :select, collection: GenericModel.local_services, required: false,
                      wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {class: 'select2-multiple', multiple: true} %>
          <%= f.input :vaccination_vaccines_vaccine_id_in, as: :select, collection: Vaccine.all, required: false,
                      wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {class: 'select2-multiple', multiple: true} %>
          <%= f.input :vaccination_vaccines_vaccine_immunobiological_id_in, as: :select, collection: GenericModel.immunobiological, required: false,
                      wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {class: 'select2-multiple', multiple: true} %>
          <%= f.input :vaccination_vaccines_vaccine_dose_id_in, as: :select, collection: GenericModel.doses, required: false,
                      wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {class: 'select2-multiple', multiple: true} %>
          <%= f.input :vaccination_vaccines_vaccine_vaccination_strategy_id_in, as: :select, collection: GenericModel.vaccination_strategies, required: false,
                      wrapper_html: {class: 'col-lg-12 col-sm-12'}, input_html: {class: 'select2-multiple', multiple: true} %>
          <%= f.input :vaccination_vaccines_vaccine_lot_number_eq, as: :integer, required: false, wrapper_html: {class: 'col-lg-12 col-sm-12'} %>
        </div>
        <div class="card-footer text-center">
          <%= link_to vaccinations_reports_path, class: 'btn btn-block btn-sm-block btn-danger btn-submit' do %>
            <i class="fas fa-redo-alt mr-2"></i><span class="btn-title"><%= t("helpers.submit.clear") %></span>
          <% end %>
          <%= button_tag class: 'btn btn-block btn-sm-block btn-primary btn-submit',
                         data: {disable_with: '<i class="fas fa-spinner fa-spin"></i>Pesquisando...'.html_safe} do %>
            <i class="fas fa-search mr-2"></i><span class="btn-title"><%= t("helpers.submit.search") %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg-12">
        <% content_for :table_header do %>
          <thead>
          <tr>
            <th><%= FamilyMember.human_attribute_name :name %></th>
            <th><%= FamilyMember.human_attribute_name :social_name %></th>
            <th><%= FamilyMember.human_attribute_name :cns_number %></th>
            <th><%= FamilyMember.human_attribute_name :birth_date %></th>
            <th><%= FamilyMember.human_attribute_name :city %></th>
            <th><%= FamilyMember.human_attribute_name :handbook_number %></th>
          </tr>
          </thead>
        <% end %>
        <% content_for :table_body do %>
          <tbody>
          <% cache('vaccination_report_list') do %>
            <% @list.each do |vaccination| %>
              <tr>
                <td><%= vaccination.family_member.name %></td>
                <td><%= vaccination.family_member.social_name %></td>
                <td><%= vaccination.family_member.cns_number %></td>
                <td><%= vaccination.family_member.birth_date.strftime('%d/%m/%Y') %></td>
                <td><%= vaccination.family_member.city.name %></td>
                <td><%= vaccination.family_member&.family&.handbook_number %></td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        <% end %>
        <%= render template: 'reports/table', locals: {model: Vaccination} %>
      </div>
      <% if @list.any? %>
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header p-4">
              <h3 class="mb-0">
                <i class="fas fa-map mr-2"></i>Mapa de Localização
              </h3>
            </div>
            <div id="family_member_map" class="card-body p-0">
              <%= render 'application/map', family_members: @list.map(&:family_member) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
